@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Helvetica";
  src: url("./assets/fonts/Helvetica.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("./assets/fonts/Helvetica-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("./assets/fonts/Helvetica-BoldOblique.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Marker";
  src: url("./assets/fonts/PermanentMarker-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body { @apply font-sans; }
  html { scroll-behavior: smooth; }
}

@theme {
  --font-sans: "Helvetica", Arial, sans-serif;
  --font-marker: "Marker", "Helverica", "sans-serif";

  --color-cream: #F5EEDC;
  --color-blue:  #27548A;
  --color-deep:  #183B4E;
  --color-gold:  #DDA853;
  --color-whitesmoke: #F5F5F5;
}

@plugin "daisyui" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: "def";
  default: true;
  color-scheme: light;

  --color-primary: var(--color-blue);
  --color-primary-content: var(--color-cream);

  --color-secondary: var(--color-deep);
  --color-secondary-content: var(--color-cream);

  --color-accent: var(--color-gold);
  --color-accent-content: var(--color-deep);

  --color-neutral: var(--color-deep);
  --color-neutral-content: var(--color-cream);

  --color-base-100: var(--color-cream);
  --color-base-content: var(--color-deep);
}